*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0px 90px;
}
/*HEADER*/
header{
	margin: 20px 50px;
}

.menu {
	margin-top:  10px;
	width: 973px;
	height: 40px;
	background-image: url(../img/menu_pan.png);
}

.menu li{
	display: inline-block;
	width: 101px;	
	font-family: verdana;
	font-size: 13px;
	text-shadow: 1px 1px #383838;
	padding: 10px 20px;	
}

.menu  a{
	color:white;
	width: 101px;
	height: 40px;
	text-decoration: none;
	margin:-10px 20px;
	
}

 .menu a:active{
 	display: block;
	width: 101px;
	height: 40px;
	padding: 10px 20px;	
	background-image: url(../img/bg_tov.png);
	background-repeat: no-repeat;
}
/*SIDEBAR*/

.sidebar{
	width: 240px;
	height: 245px;
	margin: 0 50px;
	border: 1px solid #c8c8c8;
	float: left;	
}

.sidebar li{
	height: 20px;
	border-bottom: 1px solid #c8c8c8;
	list-style: none;
	font-family: verdana;
	font-size: 13px;
	color: #656363;
	padding: 10px  40px;

}
.sidebar a{
	color:#656363;
	text-decoration: none;
	display: block;
	height: 10px;
	margin:-10px -40px;
	padding-top: 10px;
	padding-left: 25px;

}
.sidebar a:active {
	display: block;
	width: 200px;
	height: 30px;
	padding-left: 40px;
	color: #2c2c2c;
	background-color: #f9f9f9;
}

li:last-child{
	border-bottom: 0px solid #c8c8c8;
}
.sidebar li:last-child a:active{
	border-bottom: 1px solid #c8c8c8;
}
/*CONTENT*/

.content{
	width: 680px;
	margin: 0 340px;	
}
.border{
	border: 1px solid #c8c8c8;
}
.content .img{
width: 500px;
height: 307px;
margin: 23px 88px;

}
.text{
	margin: 40px 25px;
	font-family: calibri;
	font-size: 15px;
	color: #484848;
}
/*FOOTER*/
.footer-menu{
	margin: 40px 50px;
	width: 973px;
	height: 40px;
	background-color: #e1e1e1;
}

.footer-menu li{
	display: inline-block;
	width: 100px;
	margin: 10px 15px;
	font-family: "Myriad Pro";
	font-size: 15px;
	color: #5c5c5c;
}
.footer-menu a{
	color:#444444;
	text-decoration: none;
}
.footer-menu a:active{
	text-decoration: underline;
}
.footer-menu li:last-child{
	width:170px;
	text-align: right;
	display: inline-block;
	margin-top:8px;
	margin-left: 190px;
}
