*{
	margin: 0;
	padding: 0;
}
body{
	width: 1100px;
	height: 600px;
	margin: 0px auto;
}

/*HEADER*/
header{
	margin: 50px 40px;
	width: 1000px;
	height: 100px;
}

.menu {
	height: 40px;
	width: 980px;
	background-image: url(../img/menu_pan.png);
	margin: 10px 0;
}

.menu li{
	display: inline-block;
	width: 101px;	
	font-family: verdana;
	font-size: 13px;
	text-shadow: 1px 1px #383838;
	margin: 10px 20px;	
}

.menu  a{
	color:white;
	width: 101px;
	height: 40px;
	text-decoration: none;
	margin:-10px 20px;
	
}

 .menu a:hover{
 	display: block;
	width: 101px;
	height: 40px;
	padding: 10px 20px;	
	background-image: url(../img/bg_tov.png);
	background-repeat: no-repeat;
}

.sidebar{
	width: 240px;
	height: 245px;
	margin: 0 40px;
	border: 1px solid #c8c8c8;
	float: left;	
}

.sidebar li{
	height: 20px;
	border-bottom: 1px solid #c8c8c8;
	list-style: none;
	font-family: verdana;
	font-size: 13px;
	color: #656363;
	padding: 10px  40px;

}
.sidebar a{
	color:#656363;
	text-decoration: none;
	display: block;
	height: 10px;
	margin:-10px -40px;
	padding-top: 10px;
	padding-left: 25px;

}
.sidebar a:hover {
	display: block;
	width: 200px;
	height: 30px;
	padding-left: 40px;
	color: #2c2c2c;
	background-color: #f9f9f9;
}

li:last-child{
	border-bottom: 0px solid #c8c8c8;
}
.sidebar li:last-child a:active{
	border-bottom: 1px solid #c8c8c8;
}
/*CONTENT*/

.content{
	width: 690px;
    margin: 0px 340px;	
}
.border{
	border: 1px solid #c8c8c8;
    margin: 0 40px;
    margin-right: 0;
    width: 640px
 }
.content .img{
	width: 500px;
	height: 307px;
	padding: 11px 70px;

}
.text{
	margin: 20px 40px;
	padding-left: 18px;
	font-family: calibri;
	font-size: 15px;
	color: #484848;
	
}
/*FOOTER*/
.footer-menu{
	background-color: #e1e1e1;
	width: 1000px;
	height: 40px;
	margin: 10px 40px;
}

.footer-menu li{
	display: inline-block;
	width: 100px;
	margin: 10px 15px;
	font-family: "Myriad Pro";
	font-size: 15px;
	color: #5c5c5c;
}
.footer-menu a{
	color:#444444;
	text-decoration: none;
}
.footer-menu a:hover{
	text-decoration: underline;
}
.footer-menu li:last-child{
	width:170px;
	text-align: right;;
	display: inline-block;
	margin-top:8px;
	padding-left:210px;
}
